services:
  pihole:
    container_name: pihole_dns
    image: pihole/pihole:latest
    ports:
    # DNS Server ports
    - "53:53/tcp"
    - "53:53/udp"
    # Web Interface ports
    - "8800:80/tcp"
    - "4443:443/tcp"
    # DHCP support
    - "67:67/udp"
    environment:
      TZ: 'Europe/Paris'
      FTLCONF_webserver_api_password: ${PIHOLE_ADMIN_PASSWORD} # Don't forget to set it in the .ENV!!
    volumes:
      - './etc-pihole/:/etc/pihole/'
    cap_add:
      - NET_ADMIN # Needed if using the DHCP server
    restart: unless-stopped
    networks:
      - ctc_private
      - internet
  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
    # "NGINX" ports (it's not nginx, but you get the idea)
      - '80:80'
      - '443:443'
    # Control UI
      - '81:81'
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
    networks:
      - ctc_private
      - internet
  speedtest-tracker:
    image: lscr.io/linuxserver/speedtest-tracker:latest
    restart: unless-stopped
    container_name: speedtest-tracker
    ports:
      - 8080:8080
      - 8443:8443
    environment:
      - PUID=1000
      - PGID=1000
      - DB_CONNECTION=sqlite
      - APP_KEY=${ST_APP_KEY} # Same situation as for the Pihole Password!!
    volumes:
      - /etc/speedtest-tracker/config:/config
      - /etc/speedtest-tracker/config/keys:/config/key
      - /etc/localtime:/etc/localtime
    networks:
      - ctc_private
      - internet
  watchtower:
    image: containrrr/watchtower:latest
    restart: unless-stopped
    container_name: stack_watchtower
    networks:
      - ctc_private
      - internet
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - /var/jellyfin/config:/config
      - /var/jellyfin/cache:/cache
      - type: bind
        source: ${JELLYFIN_MEDIA_PATH}
        target: /media
        read_only: true
    restart: 'unless-stopped'
    environment:
      JELLYFIN_PublishedServerUrl: ${JELLYFIN_PUB_URL}
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    extra_hosts:
      - 'host.docker.internal:host-gateway'
# THERE USED TO BE PORTAINER HERE BUT IT WAS REMOVED DUE TO IT NOT BEING ABLE TO UPDATE THE STACK VIA GIT AFTER DEPLOYING, PLEASE DEPLOY IT BEFORE MANUANLLY!!
networks:
  # If it isn't clear enough from the config, ctc = Container to Container and private = no outside access
  ctc_private: 
    driver: bridge
    attachable: false
    enable_ipv6: true
    internal: true
    ipam:
      driver: default
      config:
        - subnet: 172.1.0.0/16
        - subnet: fc00:CA7:F00D::/80
  internet:
    driver: bridge
    enable_ipv6: true
volumes:
  portainer_data:


      
